.page-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(5, 5, 5);

  a {
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #b6b4b4;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(5, 5, 5);

  p {
    color: #b6b4b4;
  }
}
.icons {
  display: flex;
  justify-content: space-between;
  color: white;
}
