.page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .survivor-roulette {
    font-family: "Syne Mono", monospace;
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
    max-width: 400px;
    color: #b6b4b4;
    margin: 10px;

    .page-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .character-roulette {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Syne Mono", monospace;
        font-weight: 700;
        text-align: center;
        font-size: 0.8em;
      }
    }

    .perk-roulette {
      display: flex;
      justify-content: center;
      align-items: center;

      .perk-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin-bottom: 50px;
      }
    }
  }
  .killer-roulette {
    font-family: "Syne Mono", monospace;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    max-width: 400px;
    color: #a33737;
    margin: 10px;

    .page-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .character-roulette {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Syne Mono", monospace;
        font-weight: 700;
        text-align: center;
        font-size: 0.8em;
      }
    }

    .perk-roulette {
      display: flex;
      justify-content: center;
      align-items: center;

      .perk-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin-bottom: 50px;
      }
    }
  }
}
